:root {
  --body-color: #f8f8f8;
  --white-color: #ffffff;
  --black-color: #000000e0;
  --gray-color: #606060;
  --lightgray-color: #f0f0f0;
  --blue-color: #0958d9;
  --shadow: 0 0.75rem 3rem 1rem rgba(0, 0, 0, 0.03);
}
